.main{
    background-image: url(./../../imagens/bg-bons-drinks.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main h1 {
    text-align: center;
    font-family: "Bilbo Swash Caps", cursive;
    font-size: 120px;
    color: #fffdf8;
    margin-top: 15px;
}