@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Open+Sans+Condensed:wght@700&display=swap");

.main {
  width: 100%;
  height: 560px;
  background: url("../../imagens/bg-bons-drinks.jpg") no-repeat 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main h1 {
  font-family: "Bilbo Swash Caps", cursive;
  color: white;
  align-self: center;
  font-size: 120px;
  font-weight: bold;
  margin-top: 10px;
}



/* .main{

  background: url(../../imagens/bg-bons-drinks.jpg) cover; 
  grid-area: content;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-content: center;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  place-items: center;
  display: grid;
} 

.main h1 {
  text-align: center;
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 120px;
  color: #fffdf8;
  margin-top: 15px;
}

.content {
  grid-area: content;
} */


