.navegacao {
    grid-area: header;
    background-color:#fffbef;
    /* box-shadow: 5px 5px 10px rgb(0 0 0 / 40%); */
    padding: 0 30px;
    margin-top: 5px;
    margin-right: 150px;
    /* margin-left: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.NavHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}
  
.NavHeaderItem {
    text-decoration: none;
    font-size: 26px;
    color: #101010;
    font-family: var(--title-font);
    padding: 10px;
    align-self: center;
    font-weight: 700;
    cursor: pointer;
}

.NavHeaderItem:hover {
      color: #f9ae48;
}
  
.home {
    font-size: 36px;
    text-decoration: none;
    font-family: "Bilbo Swash Caps", cursive;
}